[submodule "mempalace"]
	path = mempalace
	url = git@github.com:amorphous-dreams/mempalace.git
[submodule "kowloon"]
	path = kowloon
	url = git@github.com:amorphous-dreams/kowloon.git
[submodule "kowloon-frontend"]
	path = kowloon-frontend
	url = git@github.com:amorphous-dreams/kowloon-frontend.git
[submodule "kowloon-client"]
	path = kowloon-client
	url = git@github.com:amorphous-dreams/kowloon-client.git
[submodule "TiddlyWiki5"]
	path = TiddlyWiki5
	url = git@github.com:amorphous-dreams/TiddlyWiki5.git
